<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <div class="centered-content">

    <div class="title-container">
      <h1 class="app-title">Skeleton App</h1>
    </div>

    <div class="login-form-container">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <ion-input formControlName="username" class="input-field" label="Usuario" labelPlacement="stacked" placeholder="Ingrese su nombre de usuario"></ion-input>
        <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.touched || loginForm.get('username')?.dirty)">
          <small *ngIf="loginForm.get('username')?.errors?.['required']">El nombre de usuario es requerido.</small>
          <small *ngIf="loginForm.get('username')?.errors?.['longitudInvalida']">El nombre de usuario debe tener entre 3 y 8 caracteres.</small>
        </div>

        <ion-input formControlName="password" class="input-field" label="Contraseña" labelPlacement="stacked" type="password" placeholder="Ingrese su contraseña"></ion-input>
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida.</small>
          <small *ngIf="loginForm.get('password')?.errors?.['contrasennaInvalida']">La contraseña debe tener 4 caracteres.</small>
        </div>

        <ion-button [routerLink]="['/home']" class="login-button" type="submit" [disabled]="loginForm.invalid">
          Ingresar
        </ion-button>

      </form>    
    </div>

  </div>
</ion-content>
