<ion-header>
  <ion-toolbar>
    <ion-title>Skeleton App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!isLoading; else loading">

  <div class="main-container">
    <div class="book-cover-container">
      <img [src]="book.coverImage" />
    </div>

    <div class="book-titles-container">
      <p class="book-title">{{ book?.title }}</p>
      <p class="book-author">{{ book?.author }}</p>
      <p class="book-author">{{ book?.year }}</p>
    </div>

    <div class="add-btn-container">
      <ion-button expand="block" (click)="addToLibrary()" [color]="isInLibrary ? 'danger' : 'primary'">
        {{ isInLibrary ? 'Eliminar de la biblioteca' : 'Agregar a la biblioteca' }}
      </ion-button>
    </div>

    <div class="book-details-container">
      <p class="book-subsection">Género</p>
      <p>{{ book?.genre }}</p>
    </div>

    <div class="book-description-container">
      <p class="book-subsection">Descripción</p>
      <p>{{ book?.description }}</p>
    </div>
  </div>



</ion-content>

<ng-template #loading>
  <ion-spinner></ion-spinner>
  <p>Cargando...</p>
</ng-template>
