<ion-header>
  <ion-toolbar>
    <ion-title>Bookdive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="page-title-container">
    <h1 class="page-title">Búsqueda</h1>
  </div>

  <ion-item>
    <ion-input placeholder="Buscar libros..." (ionInput)="onSearchChange($event)"></ion-input>
  </ion-item>

  <div class="search-results-container" *ngIf="searchResults.length > 0; else emptySearch">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let book of searchResults">
          <div class="book-entry-container" (click)="seeBookDetail(book.id)">
            <div class="book-image-container">
              <img [src]="book.thumbnail" />
            </div>
            <div class="book-ids">
              <p class="book-title">{{ book.title }}</p>
              <p class="book-author">{{ book.author }}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ng-template #emptySearch>
    <p>No se encontraron libros.</p>
  </ng-template>

</ion-content>
