<ion-header>
  <ion-toolbar>
    <ion-title>Skeleton App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="page-title-container">
    <h1 class="page-title">Búsqueda</h1>
  </div>

  <ion-item>
    <ion-input placeholder="Buscar libros..."></ion-input>
  </ion-item>

  <div class="search-results-container">
    <div class="section-content-container">
    </div>
    <ng-template #emptyLibrary>
      <p>No se encontraron libros.</p>
    </ng-template>
  </div>

</ion-content>
