<ion-header>
  <ion-toolbar>
    <ion-title>Skeleton App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="page-title-container">
    <h1 class="page-title">Inicio</h1>
  </div>

  <div class="recently-added-container">
    <div class="section-title-container">
      <h2 class="section-title">Agregados recientemente</h2>
    </div>
    <div class="section-content-container">
      Contenido
    </div>
  </div>

  <div class="recommended-container">
    <div class="section-title-container">
      <h2 class="section-title">Recomendados</h2>
    </div>
    <div class="section-content-container">
      Contenido
    </div>
  </div>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Biblioteca
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Buscar
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
